body{background-color: white;}

button {
    background: #062f55; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 30px; /* Поля вокруг текста */
    border-radius: 20px; /* Уголки */
}

section img {
    position: absolute;
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
}

section h1 {
    font-size: 100px;
    /* color: rgb(116, 117, 18); */
    mix-blend-mode: overlay;
}

details {
    padding-top: 20%;
    width: 100%;
    /* background-color: rgb(143, 144, 226); */
    background-image: url(photo2.jpg);
    color: #1f2b05;
}

table {
    width: 100%;
}

/* summary {
    display: block;
} */

details[open] > summary {
    color:#eee; 
    background-color:#333;
}
